* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.big_small_circle {
  stroke: #fff;
}

.btn, footer .content .box .one .dark, footer .content .box .one .light, footer .content .box .langs .en, footer .content .box .langs .fr, footer .content .box .langs .eh {
  width: 35px;
  background-color: transparent;
  border: 1px solid #666;
  padding: 7px;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 6px;
}

.white_color {
  color: #fff;
}

.dark_mode {
  background-color: #121212;
}

.lignt_mode {
  background-color: #fff;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    height: 550px;
  }
}

.text_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 767px) {
  .text_inner {
    margin-top: -26%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .text_inner {
    margin-top: -24%;
  }
}

.text_inner .num_404 {
  font-size: 2.5em;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
}

@media (max-width: 767px) {
  .text_inner .num_404 {
    font-size: 2em;
  }
}

.text_inner .wrong {
  margin: -25px 0 3px 0;
  font-size: 2em;
  text-transform: capitalize;
  font-family: 'Cairo', sans-serif;
  letter-spacing: 1px;
}

@media (max-width: 767px) {
  .text_inner .wrong {
    font-size: 1.5em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .text_inner .wrong {
    font-size: 1.6em;
  }
}

.text_inner .message {
  width: 400px;
  margin: auto;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  font-size: 0.9em;
}

@media (max-width: 767px) {
  .text_inner .message {
    font-size: 0.7em;
    width: 250px;
    margin: auto;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .text_inner .message {
    font-size: 0.8em;
    width: 250px;
  }
}

.text_inner .btn_home {
  width: 100px;
  border: 1px solid #666;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 100px;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
}

footer {
  -webkit-box-shadow: 0 10px 15px #444;
          box-shadow: 0 10px 15px #444;
}

footer .content {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
}

footer .content .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

@media (max-width: 767px) {
  footer .content .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .content .box .one {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 5%;
}

footer .content .box .one .dark {
  width: 42px;
  text-transform: capitalize;
}

footer .content .box .one .light {
  width: 45px;
  text-transform: capitalize;
}

footer .content .box .langs {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 5%;
}

@media (max-width: 767px) {
  footer .content .box .langs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 8px;
  }
}

footer .content .box .img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 767px) {
  footer .content .box .img {
    margin-top: 10px;
  }
}

footer .content .box .img img {
  width: 150px;
  height: 150px;
}

#big_circle {
  position: relative;
}

#circle_white {
  position: absolute;
  top: 10%;
  left: 10%;
  -webkit-animation: move 3s linear infinite alternate;
          animation: move 3s linear infinite alternate;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: translate(350px);
            transform: translate(350px);
  }
  50% {
    -webkit-transform: translateY(450px);
            transform: translateY(450px);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: translate(350px);
            transform: translate(350px);
  }
  50% {
    -webkit-transform: translateY(450px);
            transform: translateY(450px);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */